<button name="prev" disabled hidden>
  <include src="./assets/images/prev.svg"></include>
</button>
<fieldset name="set" disabled></fieldset>
<button name="next" disabled hidden>
  <include src="./assets/images/next.svg"></include>
</button>
<select name="itemsPerPage" disabled>
  <!-- <option value="10">10 items</option>
  <option value="20">20 items</option> -->
  <option value="100">100 items</option>
  <option value="500">500 items</option>
  <option value="1000">1000 items</option>
</select>
<!-- <span>Per page</span> -->
