<div class="bookmark-controls">
  <label>
    <input type="checkbox" name="select" title="Select bookmark" class="bookmark-checkbox">
  </label>
  <button class="status sm-margin-left checkbox" name="status" title="Check bookmark">
    <include src="./assets/images/circle.svg"></include>
  </button>
</div>
<div class="bookmark-item" name="content">
  <include src="./assets/images/bookmark.svg"></include>
  <div class="link-details"><a href="#" name="link" target="_blank"></a></div>
  <div name="path" class="path" hidden></div>
</div>