bookmark-controls .status svg .unsuccessful,
bookmark-controls .status svg .success,
bookmark-controls .status svg .forbidden,
bookmark-controls .status svg .error,

bookmark-controls .status.success svg .check,
bookmark-controls .status.unsuccessful svg .check,
bookmark-controls .status.forbidden svg .check,
bookmark-controls .status.error svg .check {
  display: none;
}

bookmark-controls .status.success svg .success,
bookmark-controls .status.unsuccessful svg .unsuccessful,
bookmark-controls .status.forbidden svg .forbidden,
bookmark-controls .status.error svg .error {
  display: inherit;
}

bookmark-controls .status:disabled {
  background-color: transparent;
}

bookmark-controls .status svg .check {
  stroke: var(--control-bright-color);
}

bookmark-controls .status svg .unsuccessful {
  fill: var(--unsuccessful-color);
}

bookmark-controls .status svg .forbidden {
  fill: var(--validator-warn-color);
}

bookmark-controls .status svg .error {
  fill: var(--dangerous-color);
}
