.bookmark-line {
  line-height: 26px;
  border-bottom: 1px dashed var(--tile-border-color);
}

bookmark-item,
bookmark-folder {
  display: flex;
  position: relative;
}

.bookmark-line:last-child {
  border-bottom: transparent;
}

.controls-space,
.bookmark-controls {
  display: block;
  width: 65px;
}

.bookmark-item {
  display: block;
  flex: 1 1 65px;
  white-space: nowrap;
  overflow: hidden;
}

.bookmark-item a {
  max-width: calc(100% - 25px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bookmark-item svg {
  fill: var(--icon-background-color);
}

.bookmark-controls .status svg .unsuccessful,
.bookmark-controls .status svg .success,
.bookmark-controls .status svg .forbidden,
.bookmark-controls .status svg .error,
.bookmark-controls .status svg .redirected,
.bookmark-controls .status svg .timeout,
.bookmark-controls .status svg .lost,

.bookmark-controls .status.success svg .check,
.bookmark-controls .status.unsuccessful svg .check,
.bookmark-controls .status.forbidden svg .check,
.bookmark-controls .status.error svg .check,
.bookmark-controls .status.redirected svg .check,
.bookmark-controls .status.timeout svg .check,
.bookmark-controls .status.lost svg .check {
  display: none;
}

.bookmark-controls .status.success svg .success,
.bookmark-controls .status.unsuccessful svg .unsuccessful,
.bookmark-controls .status.forbidden svg .forbidden,
.bookmark-controls .status.error svg .error,
.bookmark-controls .status.redirected svg .redirected,
.bookmark-controls .status.timeout svg .timeout,
.bookmark-controls .status.lost svg .lost {
  display: inherit;
}

.bookmark-controls .status:disabled {
  background-color: transparent;
}

.bookmark-controls .status svg .check {
  stroke: var(--control-bright-color);
}

.bookmark-controls .status:disabled svg .check {
  stroke: var(--control-inactive-text-color);
}

.bookmark-controls .status svg .lost {
  fill: var(--unsuccessful-color);
}

.bookmark-controls .status svg .forbidden {
  fill: var(--warning-color);
}

.bookmark-controls .status svg .unsuccessful,
.bookmark-controls .status svg .error,
.bookmark-controls .status svg .redirected,
.bookmark-controls .status svg .timeout {
  fill: var(--dangerous-color);
}

.bookmark-controls:has(input[type=checkbox]:checked) + .bookmark-item {
  background-color: var(--control-activated-background-color);
}

.bookmark-controls:has(input[type=checkbox]:checked) + .bookmark-item a {
  color: var(--base-highlight-color);
  text-decoration: underline;
}

.bookmark-controls .status:disabled svg > * {
  fill: var(--control-inactive-text-color);
}

.bookmark-controls .status:disabled svg .check {
  fill: transparent;
  stroke: var(--control-inactive-text-color);
}
