<div class="toolbar">
  <fieldset>
    <label>
      <input type="checkbox" name="expand-all" disabled>
      <span>Expand all</span>
    </label>
    <label hidden>
      <button name="cancel-check" class="warn checkbox">
        <include src="./assets/images/cancel.svg"></include>
      </button>
      <span>Cancel</span>
    </label>
    <label>
      <button name="check-bookmarks" class="checkbox" disabled>
        <include src="./assets/images/check.svg"></include>
      </button>
      <span>Check all&nbsp;</span>
    </label>
    <label>
      <button name="remove-bookmarks" class="checkbox" disabled>
        <include src="./assets/images/check.svg"></include>
      </button>
      <span>Remove selected</span>
      <span name="remove-count" class="badge"></span>
      <span name="rest-count" class="badge margin-left"></span>
    </label>
  </fieldset>

  <fieldset class="extent relative right padding-right">
    <nav-pagination id="nav-pagination" name="nav-pagination"></nav-pagination>
  </fieldset>

  <fieldset class="right">
    <label>
      <input type="range" min="0" max="60" value="30" step="5" name="timeout-range" class="slider" disabled>
      <span name="timeout-text" class="timeout-text">30 s</span>
    </label>
  </fieldset>

  <div class="progress-bar" , name="progress-bar" hidden></div>
</div>
